
.books {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .book-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
  }
  
  
  .book-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .book-author {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
  }
  
  .btn-secondary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #45a049;
  }
  